body{
    background-color:#080410;
    /* background-color:red; */
}
.padding0{
    padding:0;
}
.header{
    position: relative;
}
.on_image{
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    z-index: 100;
    display: block;
}
.page_title{
    top:17%;
    left:50%;
    font-size: 100px;
    color: #fff;
    text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
}

.page_description{
    top: 26%;
    left: 50%;
    font-size: 14px;
    text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
}
.phone_h1{
    top:14%;
    left:50%;
    font-size: 50px;
    color: #fff;
    text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
    width:281px;
}
img{
    display:block;
    margin:auto;
}
h3{
    color:white;
    text-align: center;
}
p{
    color:white;
    text-align: center;
}